@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
* {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    background-color: blue;
    color: white;
    padding: 30px;
    text-align: center;
}

#clear {
    width: 290px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: blue;
}

.calcu {
    width: 300px;
    height: 590px;
    margin: auto;
    border: 3px solid blue;
    border-radius: 15px;
    padding: 20px;
    background-color: yellow;
}

input {
    width: 20px;
    background-color: blue;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    padding: 28px;
    margin: 5px;
    font-size: 15px;
}

#calc {
    width: 250px;
    height: 35px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}